.target {
  position: absolute;
  top: 60px;
  left: 60px;
  height: 100px;
  background-color: #000;
  display: flex;
  width: 100px;
  border-radius: 50%;
}
.sub {
  position: relative;
  top: 25%;
  left: 25%;
  height: 50%;
  width: 50%;
  display: flex;
  background-color: #000;
  border-radius: 50%;
  border-top: 5px solid #fff;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.play,
.pause,
.reverse {
  padding: 1rem;
  margin-left: 2rem;
  font-size: larger;
  font-weight: bolder;
  color: #fff;
  border: 5px solid #000;
}
.play {
  background-color: #0f0;
  color: #000;
}
.pause {
  background-color: #f00;
}
.reverse {
  background-color: #00f;
}

.changing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
